{% extends 'base.html' %}
{% block content %}
<a href="{% url 'index' %}">
    <img src="{% url 'image' image_name='logo_white.png' %}" alt="Logo" style=" position: relative;right:40px; width: 200px; height: 140px;">
</a>
<div class="content-container">
    <div class="change-container">
        <h2 style="color:white">Changer mot de passe</h2>
        <form method="post" >
            {% csrf_token %}

            <!-- Username Field -->
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                <div class="error">
                    {{ form.username.errors }}
                </div>
                {% endif %}
            </div>

            <!-- Old Password Field -->
            <div class="form-group">
                {{ form.ancien_mot_de_passe.label_tag }}
                {{ form.ancien_mot_de_passe }}
                {% if form.ancien_mot_de_passe.errors %}
                <div class="error">
                    {{ form.ancien_mot_de_passe.errors }}
                </div>
                {% endif %}
            </div>

            <!-- New Password1 Field -->
            <div class="form-group">
                {{ form.nouveau_mot_de_passe_1.label_tag }}
                {{ form.nouveau_mot_de_passe_1 }}
                {% if form.nouveau_mot_de_passe_1.errors %}
                <div class="error">
                    {{ form.nouveau_mot_de_passe_1.errors }}
                </div>
                {% endif %}
            </div>

            <!-- New Password2 Field -->
            <div class="form-group">
                {{ form.nouveau_mot_de_passe_2.label_tag }}
                {{ form.nouveau_mot_de_passe_2 }}
                {% if form.nouveau_mot_de_passe_2.errors %}
                <div class="error">
                    {{ form.nouveau_mot_de_passe_2.errors }}
                </div>
                {% endif %}
            </div>

            <button type="submit" class="change-button">Change Password</button>
        </form>
    </div>
</div>
<style>
   .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin:0;
            }



    .change-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


.error{
color:red;
font-size:13px;
}

    .form-group {
      margin-bottom: 20px;
      width: 90%;
    }

    input[type="text"],
    input[type="password"] {
      width: 120%;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
    }

    label {
      color: white;
    }

    .change-button {
      padding: 10px 20px;
      background-color: rgb(0, 63, 119);
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 100%;
      text-align: center;
      position:relative;
      left:20px;
    }

    .change-button:hover {
      background-color: rgb(0, 122, 165);
    }

  /* Responsive Media Queries */
  @media (max-width: 768px) {

  .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
            }


.form-group {
      margin-bottom: 20px;
      width: 100%;
      padding:0;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
    }
    .change-button {
      font-size: 14px;
      position:relative;
      left:0px;
    }
  }
</style>

{% endblock %}
